
@import "https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=IBM+Plex+Sans:wght@500&family=Inconsolata&family=Josefin+Sans&family=Noto+Sans+Anatolian+Hieroglyphs&family=Nova+Square&family=Teko&family=Zilla+Slab+Highlight:wght@700&display=swap');

body {
    background: rgb(5,2,57);
    background: linear-gradient(254deg, rgba(5,2,57,1) 0%, rgba(15,48,96,0.9800069686077556) 51%, rgba(17,114,134,1) 100%);
    
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body:hover {
    background-color: black;
}

.rounded-pill {
    font-family: Josefin Sans;
}

.rounded-pill:hover {
    transform: scale(1.03);
    transition: 1.5s;
}

.search:hover {
    background-color: cadetblue;
    color: azure;
}

.search, .input-group-text {
    font-family: IBM Plex Sans;
}

.btn {
    background-color: whitesmoke;
}
