<form [formGroup]="mdbForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-text">Document ID</span>
            <input type="text" name="doc_number" id="doc_number" formControlName="document_number" class="form-control">
        </div>
        <label for="cont">Content: </label>
        <textarea name="cont" id="content" formControlName="content" class="form-control" rows="5"></textarea>
        <button type="submit" name="post" class="btn rounded-pill search">POST</button>
        <button type="submit" name="put" class="btn rounded-pill search">PUT</button>
        <button type="submit" name="get" class="btn rounded-pill search">GET</button>
        <button type="submit" name="delete" class="btn rounded-pill search">DELETE</button>
    </div>
</form>