
<app-topmenu></app-topmenu>
<div class="container container d-flex flex-column min-vh-100 justify-content-center align-items-center pt-1">
    <div class="row">
        <div class="col-md float-end">
            <app-my-ipbutton></app-my-ipbutton>
            <app-ip-form></app-ip-form>
            <app-link-form></app-link-form>
            <app-ssl-button></app-ssl-button>
        </div>
        <div class="col-md float-end">
            <app-reg-dashboard></app-reg-dashboard>
        </div>
        <div class="col-md float-end">
            <app-ssl-dashboard></app-ssl-dashboard>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
